{% extends 'base.html.twig' %}



{% block body %}
<div class="container">
<div class="bg-white p-3 text-center" style="margin-top:5rem; margin-bottom: 5rem;">
    <h1 style="color: #000">Your Cart</h1>
</div>
<div>
{% if items | length > 0 %}
    <table class="table table-striped table-responsive text-center" style="margin-bottom: 5rem;">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.price }}$</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price * item.quantity }}$</td>
                <td>
                    <a class="btn btn-danger btn-sm" href="{{ path('cart_remove', {'id': item.product.id}) }}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
        </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                 <td></td>
                <td style="color:#ee5253">Total : </td>
                <td style="color:#fdcb6e">{{ total }}$</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
{% else %}
<div class="text-center">
    <p style="color: #fab1a0;">Oops! it's empty!</p>
</div>
</div>
{% endif %}
<div class="text-center" style="margin-bottom: 5rem;">
    <button class="btn btn-success">APPLAY</button>
</div>
</div>
{% endblock %}
