{% extends 'base.html.twig' %}

{% block body %}

{% block stylesheet %}
<link rel="stylesheet"  href={{ asset('assets/form/form.css') }} >
<style>
    label{
        font-size: 16px;
    }
</style>
{% endblock %}

{% if error %}
<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div style="margin-top:5rem;">
<h1 class="text-center">You'r Welcome!<h1>

<form action="{{ path('security_login') }}" method="post">
    <div class="form_group">
        <label for="email" class="form-label">Email</label>
        <input type="text" id="email" name="_username" class="form-control" placeholder="Email Adress" value="{{ last_username }}" required autofocus/>
    </div>
    <div class="form_group">
        <label for="password" class="form-label">Passsword</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required />
    </div>
    <div class="form_group">
        <input type="hidden" name="go_to" value="{{ path('home') }}"/>
        <button type="submit" class="btn btn-success">Signin</button
    </div>
</form>

</div>
{% endblock %}